In [ ]:
# Import pandas
import pandas as pd

In [ ]:
# Create a DataFrame with balance.txt
df = pd.read_csv("balance.txt", sep=" ")

In [ ]:
# Return the first five rows
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

### Answers:

#### 1. Compare the average income based on ethnicity.

In [ ]:
# Using groupby() to check the average income per ethnicity group
income_per_ethnicity = df.groupby("Ethnicity")["Income"].mean()
print(income_per_ethnicity)

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [ ]:
# Isolating the average income value of each ethnic group
print("The average income of African American is", df[df["Ethnicity"] == "African American"].loc[:,"Income"].mean())
print("The average income of Asian is", df[df["Ethnicity"] == "Asian"].loc[:,"Income"].mean())
print("The average income of Caucasian is", df[df["Ethnicity"] == "Caucasian"].loc[:,"Income"].mean())

The average income of African American is 47.68210101010099
The average income of Asian is 44.18783333333334
The average income of Caucasian is 44.521944723618084

#### 2. On average, do married or single people have a higher balance?

In [ ]:
balance_per_marital_status = df.groupby("Married")["Balance"].mean()
print(balance_per_marital_status)

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64

In [ ]:
print("Answer: Overall, single people have a higher balance of " + str(df[df['Married'] == 'No']['Balance'].mean()))

Answer: Overall, single people have a higher balance of 13.493509015134242

#### 3. What is the highest income in our dataset?

In [ ]:
print("The highest income in our dataset is", df["Income"].max())

The highest income in our dataset is 186.634

#### 4. What is the lowest income in our dataset?

In [ ]:
print("The lowest income in our dataset is", df["Income"].min())

The lowest income in our dataset is 10.354

#### 5. How many cards do we have recorded in our dataset? (Hint: use sum())

In [ ]:
sum_cards = df["Cards"].sum()
print(f"We have recorded in our dataset {sum_cards} cards.")

We have recorded in our dataset 1183 cards.

#### 6. How many females do we have information for vs how many males? (Hint: use count() for a list of all methods for computation of descriptive stats, explore the pandas documentation).

In [ ]:
# Counting the number of females and males in our dataset using .vale_counts()
df["Gender"].value_counts()

Gender
Female    207
Male      193
Name: count, dtype: int64

In [ ]:
# Isolating the counting of females and males
print("We have information of", df[df["Gender"] == "Female"].loc[:,"Gender"].count(), "Female")
print("We have information of", df[df["Gender"] == "Male"].loc[:,"Gender"].count(), "Male")

We have information of 207 Female
We have information of 193 Male